<div class="container">
  <div class="avatar-container">
    <%= image_tag @user.image.url(:thumb) %>
  </div>
  <div class="name-container">
    <h3><%= @user.username%>'s Profile</h3>
  </div>
</div>
