<!-- HERO -->
<section id="hero" class="module-hero module-video module-full-height bg-light-30" data-background="assets/images/section-11.jpg">



  <!-- YOUTUBE VIDEO-->
  <div class="video-player" data-property="{videoURL:'https://youtu.be/QCHpEucTWgo?t=23s', containment:'.module-video', quality:'large', startAt:23, autoPlay:true, loop:true, opacity:1, showControls:false, showYTLogo:false, vol:0, mute:true}"></div>
  <!-- /YOUTUBE VIDEO-->

</section>
<!-- /HERO -->
<% if logged_in? %>
  <%=  form_for(:products, :url => {:controller => 'products', :action => 'index'}, html: {:method => 'GET'}) do |f| %>
    <%= f.label :image %>
    <%= f.file_field :image %>
    <%= f.submit :Upload, class:"btn btn-d btn-round" %>
  <% end %>
<% else %>
  <h1>Please log in to search for your next must-have!</h1>
<% end %>
