/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

html, body {
 display: flex;
 min-height: 100vh;
 flex-direction: column;
}

body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, .logo {
  font-family: 'Sree Krushnadevaraya', serif;
}

.user-profile {
  position: relative;
  margin-top: 100px;
}

main {
  flex: 1 0 auto;
}

.center-div {
  margin: 0 auto;
  width: 60%;
  margin-top: 150px;
}

footer {
  margin-top: 200px;
}

footer > .container {
  height: 15vh;

}

.users-favorite {
  display: inline-block;
  width: 50%;
  margin-top: 150px;
}

.item {
  height: 550px;
  padding: 40px;
  text-align: center;
}

.favorite {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.favorite-image a img {
  height: 300px;
  width: auto;
  object-fit: cover;
}

.favorite-text {
  /*margin-top: 25px;*/
}

.unlike-button {
  /*margin-top: 10px;*/
}
