<div class="product">
  <% if @products.length > 0 %>
    <section id="search-results">
      <ul>
        <% @products.each do |p| %>
          <li>
            <div class="product-title"><%= p['name'] %></div>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>
</div>
